
.divContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divContainer > button{

    width: 4rem;
    height: auto;
    
    color: var(--alternative3);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    padding: 0.75rem;
    margin: 0.2rem;
    
    transition: 0.5s;

    cursor: pointer;
}

.divContainer > button:nth-child(1){
    background: var(--red);
}
.divContainer > button:nth-child(2){
    background: var(--button);
}
.divContainer > button:nth-child(3){
    background: var(--green);
}

.buttonTeste:hover{
    opacity: 0.7;
}