
.buttonTeste{
    background: var(--button);
    color: var(--alternative3);

    border: 0;
    border-radius: 5px;

    padding: 0.75rem;
    margin: 0.2rem;
    
    transition: 1s;

    cursor: pointer;
}

.buttonTeste:hover{
    opacity: 0.7;
}